*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// VARIABLES

@import './VARIABLES/colores';
@import './VARIABLES/taminio';
@import './VARIABLES/typo';


// SECCIONES

@import './SECCIONES/headerprincipal';
@import './SECCIONES/mainindex';
@import './SECCIONES/footerprincipal';
@import './SECCIONES/maincontacto';
@import './SECCIONES/maingaleria';
@import './SECCIONES/maincontacto';
@import './SECCIONES/mainproducto';
@import './SECCIONES/mainpromo';

@media (max-width: 750px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 710px) {
    .header {
        flex-direction: column;
    }

    .header img {
        width: 150px;
    }

    .header ul {
        flex-wrap: wrap;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer ul {
        width: 284px;
    }

}

@media (max-width: 384px) {
    .main-index {
        background-color: rgb(82, 65, 65);
        text-align: center;
    }
    .parrafoProdu {
        text-align: center;
    }
    .menuProducto {
        text-align: center;
    }
}