.header {
    background-color: #D4D4AA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 200px;
    padding: 15px;
}

.header ul {
    list-style: none;
    display: flex;
}

.header li,
.footer li {
    margin: 5px;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a {
    color: #1E1E24;
    text-decoration: none;
}

.header a:hover {
    color: #D64933;
    font-weight: bold;
}

.animate__animated.animate__bounce {
    --animate-duration: 2s;
}